<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Index Page</title>
  </head>
  <body>
    <div class="landingPage">
      <div class="mainHead">
        <span>Welcome to Student registration Website</span>
      </div>
      <div class="subHead">
        <p>
          It is showing the FastAPI Demo configure SQLAlchemy, MySQL and Jinja2
          Templates
        </p>
      </div>
      <div class="btn">
        <a href="/students/">
            <button>Get Started</button>
        </a>
    </div>
    </div>
  </body>
</html>
