<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Search Student</title>

    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="studentsConatiner">
      <div class="nav_links">
        <a href="/students/">Students</a>
        <a href="/register">Register</a>
        <a href="/search">Search</a>
      </div>

      <div class="line"></div>

      <div class="studentHeading">Search Student</div>

      <div class="searchContainer">
        <form action="/students/search" method="get">
          <div class="inputFields">
            <input
              type="number"
              name="id"
              placeholder="Enter Student ID"
              required
            />
          </div>
          <div class="btn">
          <button  type="submit">Search</button>
          </div>
        </form>
      </div>

      {% if student %}

      <div class="studTable">
        <table border="1">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
          </tr>

          <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.course}}</td>
          </tr>
        </table>
      </div>

      {% elif request.query_params.get('id') %}

      <h2>No Student Found</h2>

      {% endif %}
    </div>
  </body>
</html>
